## Listas em Python

In [5]:
#Exemplo 1 - Lista numérica
lista1=[1,3,4,5]
print(lista1)
print(*lista1, sep = ';')
type(lista1)

[1, 3, 4, 5]
1;3;4;5

list

In [15]:
#Exemplo2 - Lista com strings
lista2=["Bruno", 'Caio', 'Marina', "Paula"]
print(lista2)
print(*lista2, sep = ',')
type(lista2)

['Bruno', 'Caio', 'Marina', 'Paula']
Bruno,Caio,Marina,Paula

list

In [7]:
#Exemplo3 - Lista com números e strings
lista3=[25,44,"João", "Paulo"]
print(lista3)
print(*lista3, sep = ' - ')
type(lista3)

[25, 44, 'João', 'Paulo']
25 - 44 - João - Paulo

list

In [8]:
#Operações básicas com listas - SOMA
print(lista1)
sum(lista1)

[1, 3, 4, 5]

13

In [10]:
#Operações básicas com listas - TAMANHO DA LISTA
print(lista2)
len(lista2)

['Bruno', 'Caio', 'Marina', 'Paula']

4

In [11]:
#Operações básicas com listas - MÉDIA DOS VALORES DE UMA LISTA
print(lista1)
sum(lista1)/len(lista1)

[1, 3, 4, 5]

3.25

In [17]:
#Removendo elementos de uma lista - Método REMOVE
print(lista2)
lista2.remove('Bruno')
print(lista2)

['Bruno', 'Caio', 'Marina', 'Paula']
['Caio', 'Marina', 'Paula']

In [18]:
#Removendo elementos de uma lista - Elementos repetidos - Método REMOVE
lista4=["Rio", 'Rio', "São Paulo", "Belô"]
lista4.remove('Rio')
print(lista4)

['Rio', 'São Paulo', 'Belô']

In [19]:
#Removendo elementos de uma lista - Método DEL
del lista4[2]
print(lista4)

['Rio', 'São Paulo']

In [20]:
#Removendo elementos de uma lista - Método DEL
lista4=["Banana", "Banana", "Melão", "Cupuaçu", "Goiaba"]
print(lista4)
del lista4[0:2]
print(lista4)

['Banana', 'Banana', 'Melão', 'Cupuaçu', 'Goiaba']
['Melão', 'Cupuaçu', 'Goiaba']

In [21]:
#Selecionando elementos específicos de uma lista
lista5=["Brasil", "Chile", "Uruguai", "Colômbia"]
print(lista5[0])
print(lista5[1])
print(lista5[2])
print(lista5[3])

Brasil
Chile
Uruguai
Colômbia

In [22]:
#Selecionando elementos específicos de uma lista - De trás pra frente
lista5=["Brasil", "Chile", "Uruguai", "Colômbia"]
print(lista5[-1])
print(lista5[-2])
print(lista5[-3])
print(lista5[-4])

Colômbia
Uruguai
Chile
Brasil

In [23]:
#Alterando elementos de uma lista
lista6=["EUA", "MÉXICO", "CANADÁ", "PARAGUAI"]
lista6[3]="CUBA"
print(lista6)

['EUA', 'MÉXICO', 'CANADÁ', 'CUBA']

In [24]:
#Alterando elementos de uma lista - Exemplo que retorna erro
lista6=["EUA", "MÉXICO", "CANADÁ", "PARAGUAI"]
lista6[4]="CUBA"
print(lista6)

IndexError: list assignment index out of range

In [25]:
#Adicionando um elemento a uma lista
lista7=["Python", "R", "Scala"]
lista7.append("Julia")
print(lista7)

['Python', 'R', 'Scala', 'Julia']

In [26]:
#Adicionando varios elementos a uma lista
lista7.extend(["SQL", "Java", "JavaScript"])
print(lista7)

['Python', 'R', 'Scala', 'Julia', 'SQL', 'Java', 'JavaScript']

In [27]:
#Substituindo elementos em uma lista
lista8=["Marina", "Paula", "Joana", "Maria"]
lista8[1]="Claudia"
print(lista8)

['Marina', 'Claudia', 'Joana', 'Maria']

In [ ]:
#Substituindo mais de um elemento em uma lista
lista8=["Marina", "Paula", "Joana", "Maria"]
lista8[1:3]=["Lúcia", "Mariana"]
print(lista8)

In [ ]:
#Listas de listas
lista9=[[45,37,55,41,34],["Paulo","Miguel","Anderson","Joaquim","Inácio"]]
print(type(lista9))
print(len(lista9))
print(lista9[0])
print(lista9[1])
print(lista9[1][0])