## Realize as seguintes atividades usando um notebook Jupyter, considerando o arquivo Ano-2017, que traz todo o histórico de gastos dos deputados federais do Brasil no ano de 2017, por meio do cartão corporativo:

a) Exiba as 10 primeiras e 10 últimas linhas da tabela

b) Quantos registros (linhas) e quantas colunas traz a tabela?

c) Qual a quantidade de transações (gastos) feitas pelo PT (Partido dos Trabalhadores)?

d) Qual o valor médio de transações da base?

e) Qual a quantidade de transações (gastos) acima da média ? (Obs.: Mais tarde vamos mostrar que existe uma
baita pegadinha nesse tipo de pergunta).

f) Filtre apenas as transações realizadas por deputados do PSDB do Rio Grande do Sul. Quantas foram as
transações?

g) Filtre todas as transações realizadas no período de recesso (suposição: janeiro, fevereiro e dezembro)

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\user\anaconda3\lib\site-packages (3.0.7)
Requirement already satisfied: et-xmlfile in c:\users\user\anaconda3\lib\site-packages (from openpyxl) (1.0.1)

In [2]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_excel('ano-2017.xlsx', engine='openpyxl', sheet_name='Ano-2017')

In [11]:
data.head(10)

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,...,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
0,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,2017,0,NaN,NaN,1401321,NaN,NaN,2812,6328475,NaN
1,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,2017,0,NaN,NaN,1436042,NaN,NaN,2812,6423547,NaN
2,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,9,PASSAGENS AÉREAS,...,2017,0,MÁRCIA OLIVEIRA GOMES;,SÃO PAULO / BRASÍLIA,1401049,NaN,NaN,2812,6327499,NaN
3,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,9,PASSAGENS AÉREAS,...,2017,0,MÁRCIA OLIVEIRA GOMES;,BRASÍLIA/SÃO PAULO,1401049,NaN,NaN,2812,6327494,NaN
4,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017,0,NaN,NaN,1411388,NaN,NaN,2812,6356388,NaN
5,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017,0,NaN,NaN,1431815,NaN,NaN,2812,6412955,NaN
6,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017,0,NaN,NaN,1382939,NaN,NaN,2812,6276476,NaN
7,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017,0,NaN,NaN,1445004,NaN,NaN,2812,6447018,NaN
8,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017,0,NaN,NaN,1405052,NaN,NaN,2812,6336332,NaN
9,LID.GOV-CD,NaN,NaN,NaN,2015,NaN,NaN,55,13,FORNECIMENTO DE ALIMENTAÇÃO DO PARLAMENTAR,...,2017,0,NaN,NaN,1435313,NaN,NaN,2812,6421575,NaN

In [12]:
data.tail(10)

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,...,numAno,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
367687,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,BSB/SMT,0,0.0,NaN,3176,1522517,NaN
367688,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,CGB/OPS,0,0.0,NaN,3176,1511314,NaN
367689,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,BSB/CGB,0,0.0,NaN,3176,1513531,NaN
367690,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,CGB/SMT,0,0.0,NaN,3176,1522577,NaN
367691,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,CGB/BSB,0,0.0,NaN,3176,1510957,NaN
367692,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,BSB/CGB,0,0.0,NaN,3176,1522576,NaN
367693,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,SMT/CGB,0,0.0,NaN,3176,1511165,NaN
367694,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,OPS/CGB,0,0.0,NaN,3176,1510785,NaN
367695,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,CGB/BSB,0,0.0,NaN,3176,1511164,NaN
367696,XUXU DAL MOLIN,7.784383e+10,199809.0,607.0,2015,MT,PSC,55,999,Emissão Bilhete Aéreo,...,2017,0,XUXU DAL MOLIN,SMT/CGB,0,0.0,NaN,3176,1510958,NaN

In [13]:
data.shape

(367697, 31)

In [14]:
data.columns

Index(['txNomeParlamentar', 'cpf', 'ideCadastro', 'nuCarteiraParlamentar',
       'nuLegislatura', 'sgUF', 'sgPartido', 'codLegislatura', 'numSubCota',
       'txtDescricao', 'numEspecificacaoSubCota', 'txtDescricaoEspecificacao',
       'txtFornecedor', 'txtCNPJCPF', 'txtNumero', 'indTipoDocumento',
       'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido', 'numMes',
       'numAno', 'numParcela', 'txtPassageiro', 'txtTrecho', 'numLote',
       'numRessarcimento', 'vlrRestituicao', 'nuDeputadoId', 'ideDocumento',
       'urlDocumento'],
      dtype='object')

In [15]:
variaveis = ['sgUF', 'sgPartido', 'datEmissao', 'vlrDocumento', 'vlrGlosa', 'vlrLiquido']

In [16]:
data['datEmissao'] = pd.to_datetime(data['datEmissao'])

In [17]:
data[variaveis].dtypes

sgUF                    object
sgPartido               object
datEmissao      datetime64[ns]
vlrDocumento           float64
vlrGlosa               float64
vlrLiquido             float64
dtype: object

In [18]:
data['sgUF'].unique()

array([nan, 'PE', 'DF', 'CE', 'RR', 'ES', 'SP', 'PI', 'PA', 'BA', 'RJ',
       'PR', 'RS', 'MG', 'GO', 'MA', 'SC', 'AP', 'AM', 'PB', 'AL', 'RO',
       'MS', 'TO', 'SE', 'MT', 'RN', 'AC'], dtype=object)

In [19]:
data['sgPartido'].unique()

array([nan, 'AVANTE', 'PSDB', 'MDB', 'DEM', 'PP', 'PSC', 'PODE', 'PSB',
       'PT', 'PRB', 'PTB', 'PPS', 'PDT', 'PSOL', 'PV', 'SOLIDARIEDADE',
       'PSD', 'PR', 'PCdoB', 'PSL', 'PROS', 'REDE', 'PATRI', 'PHS', 'PPL'],
      dtype=object)

In [25]:
todas_despesas = data.loc[data['vlrLiquido'].notnull()][variaveis]
todas_despesas.head(3)

  sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
0  NaN       NaN 2017-07-03        271.79      0.00      271.79
1  NaN       NaN 2017-10-25        265.22    201.92       63.30
2  NaN       NaN 2017-07-03       1509.80      0.00     1509.80

In [26]:
pt_despesas = data.loc[(data['sgPartido'] == 'PT') & (data['vlrLiquido'].notnull())][variaveis]
pt_despesas.head(3)

     sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
6534   RJ        PT 2017-12-10        5000.0       0.0      5000.0
6535   RJ        PT 2017-04-30        5000.0       0.0      5000.0
6536   RJ        PT 2017-05-26        5000.0       0.0      5000.0

In [27]:
pt_media_despesas = pt_despesas['vlrLiquido'].mean()
todas_media_despesas = todas_despesas['vlrLiquido'].mean()

print('Quantidade de transações do PT: ', pt_despesas.shape[0])
print('Valor médio das transações do PT: R$ ', round(pt_media_despesas, 2))
print('Quantidade de transações de todos: ', todas_despesas.shape[0])
print('Valor médio das transações de todos: R$ ', round(todas_media_despesas, 2))

Quantidade de transações do PT:  49547
Valor médio das transações do PT: R$  521.94
Quantidade de transações de todos:  367697
Valor médio das transações de todos: R$  614.3

In [30]:
pt_acima_media_despesas = pt_despesas.loc[pt_despesas['vlrLiquido'] > pt_media_despesas]
todas_acima_media_despesas = todas_despesas.loc[todas_despesas['vlrLiquido'] > todas_media_despesas]

print('Quantidade de transações do PT acima do valor médio: ',
      pt_acima_media_despesas.shape[0])
print('Valor médio das transações do PT acima do valor médio: R$ ',
      round(pt_acima_media_despesas['vlrLiquido'].mean(), 2))
print('Quantidade de transações de todos acima do valor médio: ',
      todas_acima_media_despesas.shape[0])
print('Valor médio das transações de todos acima do valor médio: R$ ',
      round(todas_acima_media_despesas['vlrLiquido'].mean(), 2))

Quantidade de transações do PT acima do valor médio:  10993
Valor médio das transações do PT acima do valor médio: R$  2057.56
Quantidade de transações de todos acima do valor médio:  83980
Valor médio das transações de todos acima do valor médio: R$  2365.5

In [31]:
psdb_rs_expenses = data.loc[(data['sgUF'] == 'RS') & (data['sgPartido'] == 'PSDB') & (data['vlrLiquido'].notnull())][variaveis]
psdb_rs_expenses.head(3)

      sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
35547   RS      PSDB 2017-02-25        148.68      0.00      148.68
35548   RS      PSDB 2017-03-30        127.43      3.02      124.41
35549   RS      PSDB 2017-04-29         92.54      0.00       92.54

In [32]:
psdb_rs_mean_expenses = psdb_rs_expenses['vlrLiquido'].mean()

print('Quantidade de transações do PSDB RS: ', psdb_rs_expenses.shape[0])
print('Valor médio das transações do PSDB RS: R$ ', round(psdb_rs_mean_expenses, 2))

Quantidade de transações do PSDB RS:  653
Valor médio das transações do PSDB RS: R$  460.43

In [33]:
recess_expenses = data.loc[(data['datEmissao'].dt.month.isin([1, 2, 12])) & (data['vlrLiquido'].notnull())][variaveis]

recess_expenses.head(3)

   sgUF sgPartido datEmissao  vlrDocumento  vlrGlosa  vlrLiquido
23  NaN       NaN 2017-12-12        114.79       0.0      114.79
24  NaN       NaN 2017-02-20        143.33       0.0      143.33
27  NaN       NaN 2017-02-10        515.00       0.0      515.00

In [34]:
recess_mean_expenses = recess_expenses['vlrLiquido'].mean()

print('Quantidade de transações do recesso: ', recess_expenses.shape[0])
print('Valor médio das transações do recesso: R$ ', round(recess_mean_expenses, 2))

Quantidade de transações do recesso:  66221
Valor médio das transações do recesso: R$  751.49