## Responda os itens a seguir por meio de um Jupyter Notebook usando a base de indicadores sócio-demográficos:

In [2]:
import pandas as pd
import numpy as np

In [3]:
# a) Quais são os top 15 municípios com maior quantidade de assinantes de tv a cabo?

base = pd.read_excel('Indicadores Socio-Demograficos.xlsx')
base.dtypes

CIDADE               object
ESTADO               object
IBGE_RES_POP        float64
IBGE_POP_URB        float64
POP_ABAIXO_1        float64
POP_1_4             float64
POP_5_9             float64
POP_10-14           float64
POP_15-59           float64
POP_60_MAIS         float64
IDHM                float64
IDHM_Renda          float64
IDHM_Longevidade    float64
IDHM_Educacao       float64
LONG                float64
LAT                 float64
TV_CABO             float64
POP_ESTIMADA        float64
PIB                 float64
PIB_CAPITA          float64
CARROS              float64
MOTOS               float64
TOT_EMPRESAS        float64
dtype: object

In [4]:
base.shape

(5573, 23)

In [5]:
tv = base.nlargest(15,'TV_CABO')
cols = ['CIDADE','ESTADO','POP_ESTIMADA','PIB_CAPITA','TV_CABO']
tv[cols]

                     CIDADE ESTADO  POP_ESTIMADA  PIB_CAPITA    TV_CABO
4856              São Paulo     SP    12176866.0    57071.43  2047668.0
4208         Rio De Janeiro     RJ     6688927.0    50690.82  1271672.0
592          Belo Horizonte     MG     2501576.0    35122.01   474416.0
755                Brasília     DF     2974703.0    79099.77   460682.0
3948           Porto Alegre     RS     1479101.0    49577.53   352371.0
1508               Curitiba     PR     1917185.0    44239.20   333275.0
951                Campinas     SP     1194094.0    49876.62   237013.0
2886                 Manaus     AM     2145444.0    33564.11   234594.0
4333               Salvador     BA     2857329.0    20796.62   220223.0
2036              Guarulhos     SP     1365899.0    40367.54   177153.0
1831              Fortaleza     CE     2643247.0    23045.09   173478.0
1927                Goiânia     GO     1495705.0    32209.01   171454.0
4536            Santo André     SP      716109.0    36249.85   148291.0
4599  São Bernardo Do Campo     SP      833240.0    51239.64   145954.0
1812          Florianópolis     SC      492977.0    39048.21   141608.0

In [6]:
# b) Quais são os top 15 municípios com maior percentual de assinantes de tv a cabo? 
# Quais insights chegamos quando avaliamos e comparamos os 2 rankings?

base['PERC_TV'] = (base['TV_CABO'] / base['POP_ESTIMADA'] * 100).round(2)
cols.append('PERC_TV')
perc_tv = base.nlargest(15, 'PERC_TV')[cols]
perc_tv

                   CIDADE ESTADO  POP_ESTIMADA  PIB_CAPITA   TV_CABO  PERC_TV
4697  São João Da Paraúna     GO        1417.0    29900.52     703.0    49.61
1052       Capão Da Canoa     RS       52004.0    27330.71   22966.0    44.16
614              Bertioga     SP       61736.0    25674.73   21145.0    34.25
2165        Ilha Comprida     SP       10965.0    52999.97    3750.0    34.20
1773  Fernando De Noronha     PE        3021.0    41803.52    1006.0    33.30
261          Antônio Dias     MG        9363.0    14981.84    2938.0    31.38
4582               Santos     SP      432957.0    50544.73  134816.0    31.14
69     Águas De São Pedro     SP        3380.0    41378.02    1033.0    30.56
395         Arroio Do Sal     RS        9842.0    21822.84    2967.0    30.15
4607   São Caetano Do Sul     SP      160275.0    83656.30   46888.0    29.25
2894          Mangaratiba     RJ       43689.0    92773.55   12660.0    28.98
1812        Florianópolis     SC      492977.0    39048.21  141608.0    28.73
5248           Tiradentes     MG        7886.0    18178.82    2162.0    27.42
4889        São Sebastião     SP       87596.0    41724.54   22611.0    25.81
5561            Xangri-Lá     RS       16025.0    32906.50    4135.0    25.80

In [7]:
tv.join(perc_tv, lsuffix = 'left')

,CIDADEleft,ESTADOleft,IBGE_RES_POP,IBGE_POP_URB,POP_ABAIXO_1,POP_1_4,POP_5_9,POP_10-14,POP_15-59,POP_60_MAIS,...,PIB_CAPITAleft,CARROS,MOTOS,TOT_EMPRESAS,CIDADE,ESTADO,POP_ESTIMADA,PIB_CAPITA,TV_CABO,PERC_TV
4856,São Paulo,SP,11253503.0,10463636.0,129464.0,514794.0,684443.0,783702.0,7058221.0,1293012.0,...,57071.43,5740995.0,1134570.0,530446.0,NaN,NaN,NaN,NaN,NaN,NaN
4208,Rio De Janeiro,RJ,6320446.0,5426838.0,58958.0,235380.0,321084.0,382267.0,3559037.0,870112.0,...,50690.82,2039930.0,363486.0,190038.0,NaN,NaN,NaN,NaN,NaN,NaN
592,Belo Horizonte,MG,2375151.0,2263631.0,25105.0,99493.0,135491.0,160227.0,1553724.0,289591.0,...,35122.01,1439055.0,248456.0,103867.0,NaN,NaN,NaN,NaN,NaN,NaN
755,Brasília,DF,2570160.0,2450634.0,35833.0,143641.0,190078.0,207283.0,1683918.0,189881.0,...,79099.77,1288107.0,211392.0,86200.0,NaN,NaN,NaN,NaN,NaN,NaN
3948,Porto Alegre,RS,1409351.0,1339712.0,15235.0,58369.0,79310.0,93989.0,889503.0,203306.0,...,49577.53,608777.0,106829.0,80082.0,NaN,NaN,NaN,NaN,NaN,NaN
1508,Curitiba,PR,1751907.0,1688975.0,21318.0,81910.0,107086.0,124078.0,1162399.0,192184.0,...,44239.20,1062063.0,173795.0,101929.0,NaN,NaN,NaN,NaN,NaN,NaN
951,Campinas,SP,1080113.0,1004839.0,11872.0,46027.0,59671.0,71266.0,687828.0,128175.0,...,49876.62,608817.0,131184.0,45789.0,NaN,NaN,NaN,NaN,NaN,NaN
2886,Manaus,AM,1802014.0,1760829.0,32853.0,125335.0,161262.0,175966.0,1159569.0,105844.0,...,33564.11,373985.0,192002.0,21586.0,NaN,NaN,NaN,NaN,NaN,NaN
4333,Salvador,BA,2675656.0,1955661.0,22808.0,91470.0,122653.0,143807.0,1376795.0,198128.0,...,20796.62,599136.0,146108.0,56595.0,NaN,NaN,NaN,NaN,NaN,NaN
2036,Guarulhos,SP,1221979.0,1036178.0,14365.0,58730.0,78414.0,90184.0,701841.0,92644.0,...,40367.54,455976.0,97694.0,28349.0,NaN,NaN,NaN,NaN,NaN,NaN
1831,Fortaleza,CE,2452185.0,2366137.0,32011.0,129766.0,169050.0,199714.0,1604565.0,231031.0,...,23045.09,593648.0,311017.0,57476.0,NaN,NaN,NaN,NaN,NaN,NaN
1927,Goiânia,GO,1302001.0,1291199.0,17168.0,66571.0,86138.0,98536.0,899415.0,123371.0,...,32209.01,618284.0,296598.0,57793.0,NaN,NaN,NaN,NaN,NaN,NaN
4536,Santo André,SP,676407.0,645047.0,7233.0,29315.0,38363.0,44476.0,436194.0,89466.0,...,36249.85,372303.0,78150.0,24972.0,NaN,NaN,NaN,NaN,NaN,NaN
4599,São Bernardo Do Campo,SP,765463.0,608468.0,7396.0,29282.0,37322.0,42906.0,421813.0,69749.0,...,51239.64,403681.0,86005.0,25504.0,NaN,NaN,NaN,NaN,NaN,NaN
1812,Florianópolis,SC,421240.0,401987.0,4378.0,17158.0,22584.0,26976.0,284112.0,46779.0,...,39048.21,226898.0,58757.0,26202.0,Florianópolis,SC,492977.0,39048.21,141608.0,28.73

In [8]:
tv.join(perc_tv, how = 'inner', lsuffix = 'left')

,CIDADEleft,ESTADOleft,IBGE_RES_POP,IBGE_POP_URB,POP_ABAIXO_1,POP_1_4,POP_5_9,POP_10-14,POP_15-59,POP_60_MAIS,...,PIB_CAPITAleft,CARROS,MOTOS,TOT_EMPRESAS,CIDADE,ESTADO,POP_ESTIMADA,PIB_CAPITA,TV_CABO,PERC_TV
1812,Florianópolis,SC,421240.0,401987.0,4378.0,17158.0,22584.0,26976.0,284112.0,46779.0,...,39048.21,226898.0,58757.0,26202.0,Florianópolis,SC,492977.0,39048.21,141608.0,28.73

In [11]:
# c) Faça a mesma análise para a estatística “Quantidade de Motos” e “Quantidade de Carros”. 
# Que conclusões vc chega?

motos = base.nlargest(15, 'MOTOS')
cols.append('MOTOS')
motos[cols]

,CIDADE,ESTADO,POP_ESTIMADA,PIB_CAPITA,TV_CABO,PERC_TV,MOTOS,MOTOS,MOTOS
4856,São Paulo,SP,12176866.0,57071.43,2047668.0,16.82,1134570.0,1134570.0,1134570.0
4208,Rio De Janeiro,RJ,6688927.0,50690.82,1271672.0,19.01,363486.0,363486.0,363486.0
1831,Fortaleza,CE,2643247.0,23045.09,173478.0,6.56,311017.0,311017.0,311017.0
1927,Goiânia,GO,1495705.0,32209.01,171454.0,11.46,296598.0,296598.0,296598.0
592,Belo Horizonte,MG,2501576.0,35122.01,474416.0,18.96,248456.0,248456.0,248456.0
755,Brasília,DF,2974703.0,79099.77,460682.0,15.49,211392.0,211392.0,211392.0
5212,Teresina,PI,861442.0,22597.68,47516.0,5.52,205304.0,205304.0,205304.0
2886,Manaus,AM,2145444.0,33564.11,234594.0,10.93,192002.0,192002.0,192002.0
1508,Curitiba,PR,1917185.0,44239.20,333275.0,17.38,173795.0,173795.0,173795.0
971,Campo Grande,MS,885711.0,29442.66,99092.0,11.19,169030.0,169030.0,169030.0
4111,Recife,PE,1637834.0,30477.73,128345.0,7.84,160433.0,160433.0,160433.0
4333,Salvador,BA,2857329.0,20796.62,220223.0,7.71,146108.0,146108.0,146108.0
580,Belém,PA,1485732.0,20350.00,128090.0,8.62,141727.0,141727.0,141727.0
4179,Ribeirão Preto,SP,694534.0,44463.80,132259.0,19.04,139841.0,139841.0,139841.0
951,Campinas,SP,1194094.0,49876.62,237013.0,19.85,131184.0,131184.0,131184.0

In [17]:
base['PERC_MOTOS'] = (base['MOTOS'] / base['POP_ESTIMADA'] * 100).round(2)
cols1 = ['CIDADE', 'ESTADO', 'POP_ESTIMADA', 'MOTOS', 'PERC_MOTOS']
perc_motos = base.nlargest(15, 'PERC_MOTOS')[cols1]
perc_motos

                   CIDADE ESTADO  POP_ESTIMADA    MOTOS  PERC_MOTOS
3749              Pereiro     CE       16281.0   8877.0       54.52
5253       Tocantinópolis     TO       22896.0  12353.0       53.95
48            Água Branca     PI       17349.0   8713.0       50.22
5044       Severiano Melo     RN        2799.0   1388.0       49.59
5312               Tucumã     PA       39059.0  18995.0       48.63
130         Alta Floresta     MT       51615.0  24680.0       47.82
4266       Rolim De Moura     RO       54702.0  26130.0       47.77
2549                 Jaru     RO       51933.0  24377.0       46.94
3486  Ouro Preto Do Oeste     RO       36340.0  17010.0       46.81
4114             Redenção     PA       83997.0  39059.0       46.50
863                Cacoal     RO       84813.0  38073.0       44.89
5410                Urupá     RO       11665.0   5191.0       44.50
3774                Picos     PI       78002.0  34227.0       43.88
688    Bom Jesus Do Norte     ES        9910.0   4328.0       43.67
3093     Mirante Da Serra     RO       11080.0   4779.0       43.13

In [12]:
carros = base.nlargest(15, 'CARROS')
cols.append('CARROS')
motos[cols]

,CIDADE,ESTADO,POP_ESTIMADA,PIB_CAPITA,TV_CABO,PERC_TV,MOTOS,MOTOS,MOTOS,CARROS
4856,São Paulo,SP,12176866.0,57071.43,2047668.0,16.82,1134570.0,1134570.0,1134570.0,5740995.0
4208,Rio De Janeiro,RJ,6688927.0,50690.82,1271672.0,19.01,363486.0,363486.0,363486.0,2039930.0
1831,Fortaleza,CE,2643247.0,23045.09,173478.0,6.56,311017.0,311017.0,311017.0,593648.0
1927,Goiânia,GO,1495705.0,32209.01,171454.0,11.46,296598.0,296598.0,296598.0,618284.0
592,Belo Horizonte,MG,2501576.0,35122.01,474416.0,18.96,248456.0,248456.0,248456.0,1439055.0
755,Brasília,DF,2974703.0,79099.77,460682.0,15.49,211392.0,211392.0,211392.0,1288107.0
5212,Teresina,PI,861442.0,22597.68,47516.0,5.52,205304.0,205304.0,205304.0,210394.0
2886,Manaus,AM,2145444.0,33564.11,234594.0,10.93,192002.0,192002.0,192002.0,373985.0
1508,Curitiba,PR,1917185.0,44239.20,333275.0,17.38,173795.0,173795.0,173795.0,1062063.0
971,Campo Grande,MS,885711.0,29442.66,99092.0,11.19,169030.0,169030.0,169030.0,302311.0
4111,Recife,PE,1637834.0,30477.73,128345.0,7.84,160433.0,160433.0,160433.0,396064.0
4333,Salvador,BA,2857329.0,20796.62,220223.0,7.71,146108.0,146108.0,146108.0,599136.0
580,Belém,PA,1485732.0,20350.00,128090.0,8.62,141727.0,141727.0,141727.0,231612.0
4179,Ribeirão Preto,SP,694534.0,44463.80,132259.0,19.04,139841.0,139841.0,139841.0,297984.0
951,Campinas,SP,1194094.0,49876.62,237013.0,19.85,131184.0,131184.0,131184.0,608817.0

In [18]:
base['PERC_CARROS'] = (base['MOTOS'] / base['POP_ESTIMADA'] * 100).round(2)
cols2 = ['CIDADE', 'ESTADO', 'POP_ESTIMADA', 'CARROS', 'PERC_CARROS']
perc_carros = base.nlargest(15, 'PERC_CARROS')[cols2]
perc_carros

                   CIDADE ESTADO  POP_ESTIMADA   CARROS  PERC_CARROS
3749              Pereiro     CE       16281.0   1059.0        54.52
5253       Tocantinópolis     TO       22896.0   3500.0        53.95
48            Água Branca     PI       17349.0   2117.0        50.22
5044       Severiano Melo     RN        2799.0    578.0        49.59
5312               Tucumã     PA       39059.0   2920.0        48.63
130         Alta Floresta     MT       51615.0  11556.0        47.82
4266       Rolim De Moura     RO       54702.0  10681.0        47.77
2549                 Jaru     RO       51933.0   7877.0        46.94
3486  Ouro Preto Do Oeste     RO       36340.0   5853.0        46.81
4114             Redenção     PA       83997.0  11805.0        46.50
863                Cacoal     RO       84813.0  17561.0        44.89
5410                Urupá     RO       11665.0   1202.0        44.50
3774                Picos     PI       78002.0  14270.0        43.88
688    Bom Jesus Do Norte     ES        9910.0   6359.0        43.67
3093     Mirante Da Serra     RO       11080.0   1124.0        43.13

d) Quais são os top 15 municípios com maior % de população até 14 anos? E com 60 ou mais? Quais os diferentes
insights extraídos?

In [19]:
def transform_data(data, transform, result_column, columns, rows=15, ascending=False):
    result_series = data.apply(transform, axis=1).sort_values(ascending=ascending)
    result_data = data.loc[result_series.index][columns]
    result_data[result_column] = result_series.values
    return result_data.head(rows)

In [23]:
# Quais são os top 15 municípios com maior % de população até 14 anos?

transform_data(
    base,
    lambda x: (x['POP_ABAIXO_1'] + x['POP_1_4'] + x['POP_5_9'] + x['POP_10-14']) / x['POP_ESTIMADA'] * 100,
    result_column='POP_ATE_14_%',
    columns=['CIDADE', 'ESTADO','POP_ESTIMADA']
)

                        CIDADE ESTADO  POP_ESTIMADA  POP_ATE_14_%
997              Campos Verdes     GO        2459.0     43.554290
2530                    Japurá     AM        3265.0     42.082695
4286                   Roteiro     AL        6680.0     32.065868
1816                 Fonte Boa     AM       18221.0     31.452719
1741                      Faro     PA        7319.0     31.110807
5191                      Tefé     AM       60154.0     30.097749
2664                     Jutaí     AM       14753.0     30.041348
120                      Almas     TO        7131.0     28.944047
4338                   Sampaio     TO        4627.0     28.506592
4862  São Pedro Da Água Branca     MA       12645.0     28.279953
3079     Miracema Do Tocantins     TO       18566.0     28.002801
429              Aurelino Leal     BA       11774.0     27.832512
4426      Santa Luzia Do Norte     AL        7272.0     27.764026
3783                     Pilar     AL       35008.0     27.390882
3003            Mathias Lobato     MG        3227.0     27.331887

In [24]:
# Quais são os top 15 municípios com maior % de população com 60 anos ou mais?

transform_data(
    base,
    lambda x: x['POP_60_MAIS'] / x['POP_ESTIMADA'] * 100,
    result_column='POP_60_MAIS_%',
    columns=['CIDADE', 'ESTADO', 'POP_ESTIMADA']
)

                      CIDADE ESTADO  POP_ESTIMADA  POP_60_MAIS_%
1795              Flora Rica     SP        1499.0      21.414276
997            Campos Verdes     GO        2459.0      20.780805
69        Águas De São Pedro     SP        3380.0      19.704142
1798                 Floreal     SP        2934.0      18.643490
4582                  Santos     SP      432957.0      18.118889
5339               Turmalina     SP        1759.0      17.737351
4607      São Caetano Do Sul     SP      160275.0      17.500546
4724  São João Do Pau D'Alho     SP        2111.0      17.243013
1285                 Coaraci     BA       17458.0      16.863329
5260                  Tombos     MG        8201.0      16.851603
1589            Dolcinópolis     SP        2119.0      16.800378
1613         Dores Do Indaiá     MG       13541.0      16.793442
3261          Neves Paulista     SP        8936.0      16.662936
2381              Itapirapuã     GO        5316.0      16.610233
324                 Arambaré     RS        3600.0      16.555556

e) Como é a distribuição de frequência dos municipios dentro de cada faixa de IDHM (<0.6, entre 0.6 e 0.65, 0.66 a
0.75 e >0.75). Como essa distribuição varia de uma região para outra do Brasil?

In [26]:
# Primeiro criamos uma função que será aplicada como transformação da coluna IDHM para gerar um nova coluna de categorias.

def idhm_range(idhm):
    if pd.isnull(idhm):
        return 'Desconhecido'
    elif idhm < 0.6:
        return 'Ruim'
    elif idhm <= 0.65:
        return 'Razoável'
    elif idhm <= 0.75:
        return 'Bom' 
    else:
        return 'Elevado'

In [27]:
# Em seguida criamos a função que será aplicada como transformação da coluna ESTADO para gerar uma nova coluna REGIAO.

def region(state):
    if state in ['AC', 'AP', 'AM', 'PA', 'RO', 'RR', 'TO']:
        return 'Norte'
    elif state in ['AL', 'BA', 'CE', 'MA', 'PB', 'PE', 'PI', 'RN', 'SE']:
        return 'Nordeste'
    elif state in ['DF', 'GO', 'MT', 'MS']:
        return 'Centro-Oeste'
    elif state in ['ES', 'MG', 'RJ', 'SP']:
        return 'Sudeste'
    elif state in ['PR', 'RS', 'SC']:
        return 'Sul'
    else:
        return 'Desconhecido'

In [39]:
# Agora criamos uma cópia do dataset original e aplicamos as transformações.

idhm_by_region_data = base[['CIDADE', 'ESTADO', 'IDHM']].copy()
idhm_by_region_data['IDHM_CATEGORIA'] = base['IDHM'].apply(idhm_range)
idhm_by_region_data['REGIAO'] = base['ESTADO'].apply(region)
idhm_by_region_data.head()

                CIDADE ESTADO   IDHM IDHM_CATEGORIA        REGIAO
0      Abadia De Goiás     GO  0.708            Bom  Centro-Oeste
1  Abadia Dos Dourados     MG  0.690            Bom       Sudeste
2            Abadiânia     GO  0.690            Bom  Centro-Oeste
3               Abaeté     MG  0.698            Bom       Sudeste
4           Abaetetuba     PA  0.628       Razoável         Norte

In [33]:
idhm_by_region_data = idhm_by_region_data.groupby(by=['REGIAO', 'IDHM_CATEGORIA']).aggregate({'CIDADE': 'count', 'IDHM': 'mean'})
idhm_by_region_data

                             CIDADE      IDHM
REGIAO       IDHM_CATEGORIA
Centro-Oeste Bom                  1  0.696268
             Desconhecido         1       NaN
             Elevado              1  0.768563
             Razoável             1  0.634404
             Ruim                 1  0.580800
Nordeste     Bom                  1  0.678842
             Desconhecido         1       NaN
             Elevado              1  0.766300
             Razoável             1  0.618972
             Ruim                 1  0.565030
Norte        Bom                  1  0.680202
             Desconhecido         1       NaN
             Elevado              1  0.763400
             Razoável             1  0.626007
             Ruim                 1  0.554657
Sudeste      Bom                  1  0.705238
             Elevado              1  0.774483
             Razoável             1  0.629461
             Ruim                 1  0.575000
Sul          Bom                  1  0.707982
             Desconhecido         1       NaN
             Elevado              1  0.770507
             Razoável             1  0.633427
             Ruim                 1  0.576800

In [34]:
# Os mesmos resultados podem ser visualizados em outra perspectiva de colunas utilizando a função unstack.

idhm_by_region_data.unstack().round(2)

               CIDADE                                     IDHM               \
IDHM_CATEGORIA    Bom Desconhecido Elevado Razoável Ruim   Bom Desconhecido
REGIAO
Centro-Oeste      1.0          1.0     1.0      1.0  1.0  0.70          NaN
Nordeste          1.0          1.0     1.0      1.0  1.0  0.68          NaN
Norte             1.0          1.0     1.0      1.0  1.0  0.68          NaN
Sudeste           1.0          NaN     1.0      1.0  1.0  0.71          NaN
Sul               1.0          1.0     1.0      1.0  1.0  0.71          NaN


IDHM_CATEGORIA Elevado Razoável  Ruim
REGIAO
Centro-Oeste      0.77     0.63  0.58
Nordeste          0.77     0.62  0.57
Norte             0.76     0.63  0.55
Sudeste           0.77     0.63  0.58
Sul               0.77     0.63  0.58